main {
  margin-top: 60px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /*
  - No CSS Grid, 1fr significa que uma coluna ocupará o espaço restante na grade (grid).
  - Se escrevermos 1fr 1fr...1fr, 8 vezes, isso vai dividir a grade em 8 colunas, cada uma ocupando um igual quantidade de espaço.
  - repeat(8, 1fr) é um atalho para repetir '1fr' 8 vezes.
  repeat(...) é uma propriedade especial que funciona com display: grid;
  */
}

@media (max-width: 2000px) {
  .products-grid {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 1600px) {
  .products-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1300px) {
  .products-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1000px) {
  .products-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 575px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}

.product-container {
  padding: 40px 25px 25px 25px;
  border-right: 1px solid rgb(231, 231, 231);
  border-bottom: 1px solid rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
}

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  margin-bottom: 20px;
}

.product-image {
  /*
  As imagens irão transbordar seu contêiner por padrão. Para
  evitar isso, definimos max-width e max-height como 100%
  então eles ficam dentro de seu contêiner.
  */
  max-width: 100%;
  max-height: 100%;
}

.product-name {
  height:  40xp;
  margin-bottom: 5px;
}

.product-rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.product-rating-stars {
  width: 100px;
  margin-right: 6px;
}

.product-rating-count {
  color: rgb(1, 124, 182);
  cursor: pointer;
  margin-top: 3px;
}

.product-price {
  font-weight: 700;
  margin-bottom: 10px;
}

.product-quantity-container {
  margin-bottom: 17px;
}

.product-spacer {
  flex: 1;
}

.added-to-cart {
  color: rgb(6, 125, 98);
  font-size: 16px;

  display: flex;
  align-items: center;
  margin-bottom: 8px;

  /*
  A princípio, a mensagem 'added-to-cart' estará invisível. Use JavaScript para alterar o opacidade e torná-lo visível.
  */
  opacity: 0;
}

.added-to-cart img {
  height: 20px;
  margin-right: 5px;
}

.add-to-cart-button {
  width: 100%;
  padding: 8px;
  border-radius: 50px;
}